// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 2px $lightgrey;
  padding: 12px 20px;
  margin-bottom: 36px;
}

.comment-author-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment-author-name {
  padding-left: 10px;
  color: $coral;
}
.comment-author-image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.comment-body {
  font-family: 'Rufina', serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}

// FORM

.response-body {
  font-size: 18px;
  font-family: 'Rufina', serif;
  letter-spacing: 0.5px;
  width: 100%;
  padding-left: 12px;
  margin-top: 22px;
}

.responses {
  font-family: 'Rufina', serif;
  font-size: 16px;
  font-weight: 900;
  width: 100%;
}

.publish-button {
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  width: 20%;
  text-align: center;
}

.submit-comment {
  padding: 8px 8px;
  border-radius: 4px;
}

.comment-errors {
  margin-top: 50px;
  color: $coral;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.response-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 36px;
  box-shadow: 0 0 8px 2px $lightgrey;
  padding: 6px 20px;
}

.response-body::placeholder {
  font-family: 'Rufina', serif;
}

.comment-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.alter-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: 'Sintony', sans-serif;
  color: $grey;
}

.edit {
  padding-right: 22px;
}
