.navbar {
  display: flex;
  width: 58%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.full-logo {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 60px;
  height: 60px;
}

.logo-text {
  font-family: 'Rufina', serif;
  font-size: 20px;
  margin-left: 18px;
  letter-spacing: 1.5px;
}

.login-signup {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  font-family: 'Sintony', sans-serif;
}

.header-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.user-logo {
  order: 2;
}

.user-image-small {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.logout-link {
  width: 7%;
  font-family: 'Sintony', sans-serif;
  text-align: center;
  margin-right: 16px;
  padding: 3px;
  font-size: 14px;
  letter-spacing: 1px;
}

.auth-link {
  font-size: 14px;
}
