.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.site-logo {
  width: 60px;
  height: 60px;
}

.login-signup {
  display: flex;
  width: 30%;
  justify-content: space-around;
  font-family: 'Sintony', sans-serif;
}
