.story-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.new-story-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
}

.author-name-new-story {
  padding-left: 16px;
}

.new-story-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  font-size: 38px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Sintony', sans-serif;
}

.description {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Sintony', sans-serif;
}

.fa-plus {
  border: 1px solid $grey;
  border-radius: 300px;
  padding: 8px 10px;
  color: $grey;
  float: right;
}

i:hover {
  cursor: pointer;
  background-color: $coral;
}

.body {
  font-size: 18px;
  font-family: 'Rufina', serif;
  height: 250px;
  padding: 20px;
  padding-left: 0;
  padding-top: 6px;
  letter-spacing: 0.5px;
}

::placeholder {
  font-family: 'Sintony', sans-serif;
}

.submit-story {
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  flex-basis: 20%;
  min-width: 68px;
  text-align: center;
  border-radius: 4px;
  background-color: $lightgrey;
  padding: 8px 0;
  margin-top: 40px;
  align-self: center;
  color: $darkgrey
}

.story-errors {
  color: $coral;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}

.new-image {
  margin-bottom: 75px;
}
