.story-form-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  align-items: flex-start;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
}

.author-name-new-story {
  padding-left: 16px;
}

.new-story-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  font-size: 38px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Sintony', sans-serif;
}

.description {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Sintony', sans-serif;
  margin-bottom: 15px;
}

.body {
  font-size: 18px;
  font-family: 'Rufina', serif;
  height: 400px;
  padding: 20px;
  padding-left: 0;
}

::placeholder {
  font-family: 'Sintony', sans-serif;
}

.submit-story {
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  width: 40%;
  text-align: center;
  border-radius: 4px;
  background-color: $lightgrey;
  padding: 8px 0;
  margin-top: 15px;
  align-self: center;
}

.story-errors {
  color: $coral;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
