// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-family: 'Rufina', serif;
  font-size: 62px;
  text-shadow: 0 0 2px black;
  letter-spacing: 4px;
  color: white;
}

.stories-that-move {
  color: white;
  margin-top: 20px;
  text-shadow: 0 0 2px black;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: 'Sintony', sans-serif;
}

.login-or-signup {
  color: white;
  text-shadow: 0 0 2px black;
  font-family: 'Sintony', sans-serif;
  font-size: 20px;
  margin-bottom: 3px;
}

.login-errors {
  font-family: 'Rufina', serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 0 2px black;
  letter-spacing: 1px;
  font-family: 'Sintony', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Sintony', sans-serif;
  width: 100%;
}

.login-input {
  padding: 16px 12px;
  margin: 18px;
  border-radius: 3px;
  width: 18%;
  box-shadow: 0 2px 8px $grey;
  font-size: 16px;
  color: $coral;
  font-weight: bold;
  letter-spacing: 1px;
}

::placeholder {
  color: $grey;
}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  color: black;
  font-family: 'Sintony', sans-serif;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: $darkgrey;
}

.button {
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.or {
  font-size: 16px;
  color: white;
  text-shadow: 0 0 2px black;
  letter-spacing: 1px;
}

.demo-user {
  margin-top: -4px;
  box-shadow: 0 2px 8px $grey;
  background-color: $lightgrey;
  width: 120%;
}

.submit-button {
  width: 395%;
  background-color: $lightgrey;
  box-shadow: 0 2px 8px $grey;
}
