// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-family: 'Rufina', serif;
  font-size: 48px;
  letter-spacing: 4px;
}

.stories-that-move {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Sintony', sans-serif;
}

.login-or-signup {
  font-family: 'Sintony', sans-serif;
  font-size: 15px;
  margin-bottom: 3px;
}

.login-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Sintony', sans-serif;
}

.login-input {
  padding: 16px 12px;
  margin: 18px;
  border-radius: 3px;
  width: 18%;
  box-shadow: 3px 3px 10px slategrey;
  font-size: 15px;
  color: grey;
}

::placeholder {
  color: lightgrey;
}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  color: black;
  font-family: 'Sintony', sans-serif;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 12px;
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.or {
  font-size: 15px;
}

.demo-user {
  margin-top: -4px;
  font-size: 15px;
  box-shadow: 3px 3px 10px slategrey;
}

.submit-button {
  width: 405%;
  font-size: 15px;
  background-color: pink;
  box-shadow: 3px 3px 10px slategrey;
}
