// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed {
  display: flex;
  width: 75%;
  margin-top: 32px;
  margin-left: -18px;
  flex-flow: row wrap;
  justify-content: center;
}

.story-square-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px 2px $lightgrey;
  margin-bottom: 20px;
  min-width: 260px;
  flex-basis: 30%;
  margin-left: 18px;
  flex-grow: 1;
}

.story-square-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 8px 2px $lightgrey;
  margin-bottom: 20px;
  flex-basis: 30%;
  min-width: 260px;
  flex-grow: 1;
  margin-left: 18px;
}

.story-square-2 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 8px 2px $lightgrey;
  margin-bottom: 20px;
  flex-basis: 62%;
  min-width: 528px;
  margin-left: 18px;
  flex-grow: 2;
}

.feed-item-content-0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 20px;
  flex: 1;
}

.feed-item-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 20px;
  flex: 1;
}

.feed-item-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 20px;
  flex: 2;
}

.feed-item-image-1 {
  flex: 1;
  height: 30%;
  width: 100%;
  box-shadow: 0 0 8px 2px #ededed;
}
.feed-item-image-2 {
  flex: 1;
}


.item-body-0 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 65px;
  color: $grey;
}
.item-body-1 {
  font-size: 14px;
  color: $grey;
}
.item-body-2 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 40px;
  color: $grey;
}


.item-title {
  font-size: 20px;
}
.item-author {
  display: flex;
  align-items: center;
}

.item-author-img {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.item-author-name-read-time {
  padding-left: 10px;
}

.item-author-name {
  padding: 0;
  margin: 0;
}

.item-read-time {
  padding: 0;
  margin: 0;
}
