// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed {
  display: flex;
  width: 58%;
  margin-top: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.story-square-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 33%;
  height: 100%;
}
.story-square-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 33%;
}
.story-square-2 {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 66%;
}

.feed-item-content-0 {
  padding: 16px 20px;
}
.feed-item-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 20px;
  flex: 1;
}
.feed-item-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  padding-top: 16px;
  padding-bottom: 16px;
}

.feed-item-image-1 {
  flex: 1;
  height: 47%;
}
.feed-item-image-2 {
  flex: 1;
  padding-right: 20px;
}


.item-body-0 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 65px;
  color: $grey;
}
.item-body-1 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 65px;
  color: $grey;
}
.item-body-2 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 40px;
  color: $grey;
}


.item-title {
  font-size: 20px;
}
.item-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item-author-img {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.item-author-name-read-time {
  padding-left: 10px;
}

.item-author-name {
  padding: 0;
  margin: 0;
}

.item-read-time {
  padding: 0;
  margin: 0;
}
