// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .masonry-layout {
//   column-count: 3;
//   column-gap: 0;
//   width: 80%;
// }
// .masonry-layout__panel {
//   break-inside: avoid;
//   padding: 5px;
// }
// .masonry-layout__panel-content {
//   padding: 10px;
//   border-radius: 10px;
// }

.feed {
  display: flex;
  width: 58%;
  margin-top: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.story-square-2 {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 66%;
}

.story-square-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 33%;
}

.feed-item-image {
  height: 240px;
  width: auto;
}

.feed-item-content {
  width: 88%;
  padding: 24px 20px;
}

.item-title {
  font-size: 20px;
}

.item-truncatedBody {
  font-size: 14px;
  color: $grey;

}

.author-small {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.item-author-img {
  padding: 0;
  margin: 0;
}
.item-author-name {
  padding: 0;
  margin: 0;
}
.item-read-time {
  padding: 0;
  margin: 0;
}
