.story-show-page {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-top: 40px;
}

.story-author-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

.body-text {
  white-space: pre-wrap;
}

.author-small {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.story-title {
  color: $darkgrey;
  margin-bottom: 20px;
  font-size: 36px;
}

.story-description {
  font-weight: normal;
  text-align: left;
  margin-bottom: 28px;
  font-style: italic;
  font-size: 24px;
  color: $grey;
  font-family: 'Sintony', sans-serif;
}

.author-info {
  padding-left: 20px;
  width: 75%;
}

.alter-story-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: 'Sintony', sans-serif;
  color: $grey;
}

h5.author-name {
  margin: 0;
  margin-bottom: 5px;
}

h6 {
  margin: 0;
}


.fa-heart-o {
  font-size: 26px;
  color: $coral;
}
.fa-heart {
  font-size: 26px;
  color: $coral;
}

#heart {
  background-color: white;
}

#heart:hover {
  background-color: white;
  color: $grey;
}

.fa-heart-o:hover {
  background-color: white;
}
.fa-heart:hover {
  background-color: white;
}
