// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-full-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-detail-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 75px;
  border-bottom: 1px solid $lightgrey;
  padding-bottom: 60px;
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-logo-medium {
  height: 100px;
  width: 100px;
  border-radius: 200px;
}

.name-bio {
  margin-right: 30px;
}

.bio {
  font-size: 15px;
  font-weight: normal;
  color: $darkgrey;
  line-height: 24px;
}

.follows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  font-size: 12.5px;
  padding-bottom: 12px;
}

.following {
  margin-right: 20px;
}

.follow-unfollow {
  padding: 10px 14px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid $coral;
  font-family: 'Sintony', sans-serif;
  font-size: 12.5px;
  color: $coral;
}

.follow-unfollow:hover {
  background-color: white;
}

.user-biography {
  margin-bottom: 36px;
}

.recommends {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid $lightgrey;
  padding-top: 16px;
  padding-bottom: 16px;
}

.profile {
  margin-right: 20px;
}

.toggle-recommends {
  display: flex;
  justify-content: space-between;
  width: 12%;
  font-family: 'Sintony', sans-serif;
  color: $grey;
  font-size: 16px;
}
