html {
  display: flex;
	height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.behind-hero {
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  opacity: 0.7;
}

.hero {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  padding-top: 25px;
  margin-top: 80px;
  background-image: url('http://res.cloudinary.com/jules-costa/image/upload/v1495131641/hero-image.jpg');
  background-position: center;
  background-size: cover;
}
// div {
//   width: 100%;
//   height: 100%;
// }
//
// #root {
//   width: 100%;
// }

.auth-link {
  font-size: 12px;
  padding: 0 0 0 30px;
}

button:hover {
	background-color: $coral;
}

a:hover {
	text-decoration: underline;
}

.full-logo:hover {
  text-decoration: none;
}

.hidden {
	display: none;
}

h1 {
	font-size: 36px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-weight: bold;
}

img {
	width: 100%;
	height: 100%;
}
