html {
  display: flex;
  justify-content: center;
	height: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}

div {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
}

.auth-link {
  font-size: 12px;
  padding: 0 0 0 30px;
}

button:hover {
	background-color: lightgrey;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

h1 {
	font-size: 36px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-weight: bold;
}

img {
	width: 100%;
	height: 100%;
}
