
body {
  font-size: 14px;
  color: $darkgrey;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.behind-hero {
  width: 100%;
  height: 830px;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: $grey;
  font-family: 'Sintony', sans-serif;
  font-size: 13px;
  margin-top: 368px;
  margin-bottom: 25px;
}

.hero {
  display: block;
  padding-top: 1px;
  height: 100%;
  margin-top: -1px;
  background-image: url('http://res.cloudinary.com/jules-costa/image/upload/c_scale,w_2000/v1495131641/hero-image.jpg');
  background-position: center;
  background-size: cover;
}

.auth-link {
  font-size: 12px;
  padding: 0 0 0 30px;
  color: $darkgrey;
}

button:hover {
	background-color: $coral;
}

a:hover {
	color: $coral;
}

.full-logo:hover {
  color: $darkgrey;
}

.hidden {
	display: none;
}

h1 {
	font-size: 28px;
	font-weight: bold;
  font-family: 'Sintony', sans-serif;
  color: $darkgrey;

}
h2 {
	text-align: center;
	font-weight: bold;
  color: $darkgrey;

}
h4 {
  font-size: 1.2em;
  font-family: 'Sintony', sans-serif;
  color: $darkgrey;

}
h5 {
  font-size: 1.0em;
  font-family: 'Sintony', sans-serif;
  letter-spacing: 0.5px;
  color: $darkgrey;

}
h6 {
  font-size: 0.8em;
  font-family: 'Sintony', sans-serif;
  color: $grey;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: normal;
}

p {
  font-size: 20px;
  font-family: 'Rufina', serif;
  margin-top: 40px;
  line-height: 36px;
  color: $darkgrey;
}

img {
	width: 100%;
	height: 100%;
  object-fit: cover;
}
