html {
  display: flex;
  justify-content: center;
	height: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}

div {
  width: 100%;
  height: 100%
}

#root {
  width: 100%;
}


button {
	color: black;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	// font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

button:hover {
	background-color: grey;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 36px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-weight: bold;
}

// p {
// 	line-height: 16px;
// }

img {
	width: 100%;
	height: 100%;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

input[type="submit"] {
	padding: 5px;
  border: 1px solid grey;
}

.login-input {
  padding: 5px;
  border: 1px solid grey;
}

// Video

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
