html {
  display: flex;
  justify-content: center;
	height: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}

#root {
  width: 100%;
}

button {
	// background-color: $light-blue;
	// border-color: $dark-blue;
	color: black;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	// font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

button:hover {
	background-color: grey;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 36px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-weight: bold;
}

// p {
// 	line-height: 16px;
// }

img {
	width: 100%;
	height: 100%;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

input[type="submit"] {
	padding: 5px;
  border: 1px solid grey;
}

.login-input {
  padding: 5px;
  border: 1px solid grey;
}
