html {
  display: flex;
  justify-content: center;
	height: 100%;
}


body {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}

// .hero {
//   border: 1px solid black;
//   width: 100%;
//   height: auto;
//   padding-bottom: 120px;
//   margin-top: 80px;
//   background-image: url("https://unsplash.com/photos/7Y-uK6m-8Ss");
// }

div {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
}

.auth-link {
  font-size: 12px;
  padding: 0 0 0 30px;
}

button:hover {
	background-color: $coral;
}

a:hover {
	text-decoration: underline;
}

.full-logo:hover {
  text-decoration: none;
}

.hidden {
	display: none;
}

h1 {
	font-size: 36px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-weight: bold;
}

img {
	width: 100%;
	height: 100%;
}
